# Django e dipendenze core
Django>=4.2,<5.0
dj-database-url>=2.1.0

# Database
psycopg2-binary>=2.9.0

# Server production
gunicorn>=21.0.0
whitenoise>=6.5.0

# Non serve più Pillow perché non facciamo upload immagini!