{% extends 'base.html' %}
{% block title %}Gestione Artisti e Associati{% endblock %}

{% block content %}
<div class="container">
    <h1>Artisti</h1>
    <a href="{% url 'artist_create' %}" class="btn btn-magenta mb-2">Aggiungi Artista</a>
    <ul>
        {% for artist in artists %}
            <li>
                {{ artist.name }}
                <a href="{% url 'artist_update' artist.pk %}">Modifica</a>
                <a href="{% url 'artist_delete' artist.pk %}">Elimina</a>
            </li>
        {% empty %}
            <li>Nessun artista presente.</li>
        {% endfor %}
    </ul>

    <h1>Associati</h1>
    <a href="{% url 'associate_create' %}" class="btn btn-magenta mb-2">Aggiungi Associato</a>
    <ul>
        {% for associate in associates %}
            <li>
                {{ associate.name }}
                <a href="{% url 'associate_update' associate.pk %}">Modifica</a>
                <a href="{% url 'associate_delete' associate.pk %}">Elimina</a>
            </li>
        {% empty %}
            <li>Nessun associato presente.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}