{% extends 'base.html' %}
{% block title %}Profilo Utente{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      {% if user.profile_image %}
        <img src="{{ user.profile_image.url }}" alt="Foto profilo" class="img-fluid rounded-circle mb-3">
      {% else %}
        <img src="{% static 'img/default-profile.png' %}" alt="Foto profilo" class="img-fluid rounded-circle mb-3">
      {% endif %}
      <h2>{{ user.username }}</h2>
      <p class="text-magenta">{{ user.genre }}</p>
    </div>
    <div class="col-md-8">
      <h3>Biografia</h3>
      <p>{{ user.bio }}</p>
      <h3 class="mt-4">Demo caricate</h3>
      <ul>
        {% for demo in user.demos.all %}
          <li>{{ demo.title }} - {{ demo.genre }}</li>
        {% empty %}
          <li>Nessuna demo caricata.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}