{% extends 'base.html' %}
{% block title %}Ricerca Avanzata{% endblock %}

{% block content %}
<div class="container">
  <form method="get" class="mb-4">
    <!-- Campi di ricerca -->
  </form>

  <div class="row">
    {% for artista in risultati %}
      <div class="col-md-4 mb-4">
        <div class="card h-100 text-center">
          <img src="{{ artista.profile_image.url }}" class="card-img-top" alt="Foto artista">
          <div class="card-body">
            <h5 class="card-title">{{ artista.username }}</h5>
            <p class="text-magenta">{{ artista.genre }}</p>
          </div>
        </div>
      </div>
    {% empty %}
      <p>Nessun risultato trovato</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
